@model IEnumerable<Category>

<div class="container p-3">

    <div class="row">
        <div class="col-6 me-auto">
            <a class="btn btn-primary" asp-controller="Category" asp-action="CreateEdit">Create Category</a>
        </div>
    </div>

    <div class="row">
        <table class="table tabel-bordered table-striped text-center" width="100%">

            <thead>
                <tr class="text-nowrap">
                    <th>Category Name</th>
                    <th>Category Description</th>
                    <th>Created Date</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>@category.Description</td>
                        <td>@category.CreatedDate</td>
                        <td>
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">Actions</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item align-items-center" asp-controller="Category" asp-action="CreateEdit" asp-route-id="@category.Id">
                                        Edit
                                        <i class="bi bi-pen-fill"></i>
                                    </a>
                                    <a class="dropdown-item align-items-center" asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id">
                                        Delete
                                        <i class="bi bi-trash2-fill"></i>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

</div>

@section Scripts{
<script type="text/javascript">
    var deleteAnchors = document.getElementsByClassName("btn-secondary");

    for(var i=0;i<deleteAnchors.length;i++)    {
        var deleteAnchor = deleteAnchors[i];
            deleteAnchor.addEventListener('click',(e)=>{
        //Assuming No is clicked.
        e.preventDefault();
        swal({
            icon:"warning",
            title:"Delete Category",
            text:"This will delete the category permanently!",
            buttons:true
        }).then(e=>{
            if(e){
                location.href = deleteAnchor.href;
            }
        });
    });
    }
</script>
}

